body{
    overflow: hidden;
    background-color: rgba(27, 27, 27, 0.3);
}

.modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    background-color: #fff;
    z-index: 1111;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.modal-head{
    font-family: Roboto;
    padding-bottom: 5px;
    border-bottom: 1px rgba(65, 63, 63,.1) solid;
}
.modal-btn-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.logo-container{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.logo-main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 10px;
}
.logo-img-container{
    position: relative;
}
.logo-main-container h1 {
    font-size: 6rem ;
    color: #c0392b;
    font-weight: bold;
    text-wrap: nowrap;
    text-shadow: black 1px 1px 1px;
    font-family: Romanica;
    z-index: 1;
    animation: logo-text 4s ease;
}
.logo-img-container svg {
    position: absolute;
    color: #f7effd;
}
.main-svg{
    width: 25px;
    top: 14px;
    right: 19px;
    animation: shining 1s ease 0s 5;
    text-shadow: 1px 1px 2px #413f3f ;
}
.up-right-svg{
    width: 18px;
    top: 12px;
    right: 13px;
    animation: shining 1s ease .3s 5;
    text-shadow: 0 0 1px 2px #413f3f ;
}
.down-right-svg{
    width: 18px;
    top: 25px;
    right: 13px;
    animation: shining 1s ease .5s 5;
    text-shadow: 0 0 1px 2px #413f3f ;
}
.logo-img-container img {
    height: 7.5rem;
    transform: rotate(-20deg);
}

.loading-text{
    font-size: large;
    font-weight: bold;
    font-family: Venite;
    color: white;
    float: right;
}
.loading-container{
    position: relative;
    background-color: black;
    width: 100vw;
    height: 100vh;
    animation: background 1s ease;
}
.loading-main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.progress-bar-container{
    border: 5px solid rgba(255,255,255) ;
    padding: 2px;
    width: 100%;
    margin-top: 20px;
}
.progress-bar{
    background-image:linear-gradient(-45deg,rgba(255,255,255,.9) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.9) 50%,rgba(255,255,255,.9) 75%,transparent 75%,transparent);
    background-color: #413f3f;
}
.progress{
    animation: load 5.5s linear;

}
.game-text-container{
    display: flex;
}
.game-text{
    color: #c0392b;
    font-size: 8rem;
    font-family: Roboto;
}
.game-logo{
    width: 170px;
    transform: rotate(-80deg);
    margin: -15px;
    position: relative;
}
.dynamite-fire{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 106px;
}



@keyframes logo-text {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes shining {
    0%{
        transform: scale(.5);
        display: inline-block;
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(.5);
    }
}
@keyframes background {
    0%{
        height: 0vh;
    }
    100%{
        height: 100vh;
    }
}

@keyframes load {
    from {
        width: 0px;
    }
    to {
        width:100%;
    }
}
@media screen and (max-height:481px){
    .modal-head h3{
        font-weight: 450;
        font-size: large;
    }
    .modal-container{
        width: 50%;
    }
    .logo-main-container h1{
        font-size: 4rem;
    }
    .logo-main-container img {
        height: 5rem;
    }
    .logo-img-container svg {
        /* width: 20px; */
    }
}