*{
    overflow: hidden;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all ease 2S;
    cursor: pointer;
}

.main{
    width: 100vw;
    height: fit-content;
    /* background-image: url(../img/IMG_20240721_151428_281.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.menu-container{
    width: 25vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    margin-bottom: 0px;
}
.menu-btn{
    display: inline-block;
    color: white;
    font-size: xx-large;
}


@keyframes logo {
    0%{
        transform: translate(-50%,-50%) scale(1);
    }
    100%{
        transform: translate(-51%,-51%) scale(0);
    }
}

@media screen and (max-height:481px){
    .menu-btn{
        font-size: medium;
    }
    .menu-container{
        align-items: start;
    }
    .menu{
        gap: 15px;
        margin-top: 5px;
    }
}