body{
    overflow: hidden;
}

.logo-container{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.logo-container h1 {
    font-size: 6rem ;
    color: #c0392b;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%,-50%);
    text-wrap: nowrap;
    text-shadow: black 1px 1px 1px;
    font-family: Romanica;
    z-index: 1;
    animation: logo-text 2s ease-in-out;
}
.logo-container svg {
    width: 30px;
    position: absolute;
    top: 47%;
    left: 33%;
    color: #f7effd;
    animation: shining 2s ease;
}
.logo-container img {
    position: absolute;
    height: 7.5rem;
    top: 53%;
    left: 33%;
    transform: translate(-50%,-50%) rotate(-20deg);
}

.loading-text{
    font-size: large;
    font-weight: bold;
    font-family: Venite;
    color: white;
    position: absolute;
    bottom: 125px;
    left: 72%;
    transform: translate(-50%,0px);
}
.loading-container{
    position: relative;
    background-color: black;
    width: 100vw;
    height: 100vh;
    animation: background 3s ease;
}
.progress-bar-container{
    /* position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0%); */
    border: 5px solid rgba(255,255,255) ;
    padding: 2px;
    width: 50%;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%,0px);
}
.progress-bar{
    background-image:linear-gradient(-45deg,rgba(255,255,255,.9) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.9) 50%,rgba(255,255,255,.9) 75%,transparent 75%,transparent);
    background-color: #413f3f;
}
.progress{
    animation: load 6s linear;

}
.game-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.game-text{
    color: #c0392b;
    font-size: 7rem;
    font-family: Roboto;
}
.game-logo{
    width: 150px;
    transform: rotate(-80deg);
    margin: -15px;
}

.main{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.menu-container{
    width: 25vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    margin-bottom: 0px;
}
.menu-btn{
    display: inline-block;
    color: white;
    font-size: xx-large;
    font-family: Venite;
}



@keyframes logo-text {
    0%{
        transform: translate(-50%,-50%);
        opacity: 0;
    }
    100%{
        transform: translate(-50%,-50%);
        opacity: 1;
    }
}
@keyframes shining {
    0%{
        transform: rotate(0deg) scale(0);
        display: inline-block;
    }
    50%{
        transform: rotate(360deg) scale(1);
    }
    100%{
        transform: rotate(0deg) scale(0);
    }
}
@keyframes background {
    0%{
        height: 0vh;
    }
    100%{
        height: 100vh;
    }
}

@keyframes load {
    from {
        width: 0px;
    }
    to {
        width:100%;
    }
}
@keyframes count {
    0%{
        content: 0'%';
    }
    25%{
        content: 25'%';
    }
    50%{
        content: 50'%';
    }
    100%{
        content: 100'%';
    }
}
@media screen and (max-height:481px){
    .menu-btn{
        font-size: medium;
    }
    .menu-container{
        align-items: start;
    }
    .menu{
        gap: 15px;
        margin-top: 5px;
    }
}