.start-page-body{
    background-image: url(../img/strat-page/start-page-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Logo-con{
    background-image: url(../img/strat-page/btn-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.btn-container{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-tri{
    background-image: url(../img/strat-page/btn-1.png);
}